html {
    height: 100%;
    overflow-x: hidden;
}
body {
    height: 100%;
    min-height: 100%;
}
.main {
    display: block;
    margin: 0;
    height: calc(100% - 50px);
    max-height: calc(100% - 50px);
}
.flex {
    display: flex !important;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    margin: 0;
    height: 100%;
}
/* //// NAVBAR \\\\ */
nav.navbar.navbar-default {
    position: relative;
    z-index: 2;
    background-color: #ff6600 !important;
    margin: 0;
    border: 0;
    border-radius: 0;
}
nav.navbar .navbar-brand img{
    position: relative;
    bottom: .6rem;
}
nav.navbar .navbar-toggle .icon-bar {
    background: white;
}
nav.navbar .navbar-toggle:hover {
    background: white;
}
nav.navbar .navbar-toggle:hover .icon-bar {
    background: #ff6600;
}
nav.navbar .navbar-collapse {
    background: white;
}
nav.navbar .navbar-collapse .navbar-nav li {
    transition-duration: .2s;
}
nav.navbar .navbar-collapse .navbar-nav li:hover {
    background: rgba(0,0,0,0.1);
}
/* //// SECTIONS \\\\ */
.flex .section {
    width: 100%;
    height: 100%;
    max-height: 100%;
}
.main-template .flex .section:first-child {
    position: relative;
    background: url('../images/house.jpg');
    background-size: cover;
    background-position: 50% 50%;
    overflow-y: auto;
    overflow-x: hidden;
}
.main-template .flex .section:first-child .container {
    padding: 2rem 0;
    overflow: hidden;
}
.flex .section:first-child .container {
    position: relative;
    width: 100% !important;
    max-width: 1000px !important;
    z-index: 2;
}
.main-template .flex .section .container h2 {
    color: white;
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: bold;
    text-shadow: 1px 1px 1px #333;
}
.flex .section:last-child {
    position: relative;
}
.sale-template .card-section {
    padding: 1.5rem 0;
    position: relative;
    background: #ececec;
    overflow-y: auto;
}
.sale-template .section .card {
    width: 100%;
    background: white;
    cursor: pointer;
    margin-bottom: 1.5rem;
}
.sale-template .section .card .card__thumbnail {
    height: 190px;
    background-size: 100%;
}
.sale-template .section .card .card__content {
    padding: 1rem;
    color: #999;
}
.sale-template .section .card .card__content .card__content__price {
    color: #333;
    font-size: 2rem;
}
.filter-section {
    display: block;
    width: 100%;
    padding: 1rem 0;
    background: #2b2b2b;
}
.sale-template .pre-search {
    padding: 1rem 0;
}
.sale-template .pre-search .allies {
    width: 80%;
    margin: auto;
    padding: 1rem 0;
    white-space: nowrap;
    overflow: hidden;
}
.sale-template .pre-search .allies .allies__list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.sale-template .pre-search .allies .allies__list .allies__item {
    display: inline-block;
}
/* //// FORMS \\\\ */
.flex .section:first-child form {
    background: rgba(255,255,255,0.2);
    padding: 2rem;
}
.flex .section:first-child form label {
    color: white;
}
.flex .section:first-child form .form-control {
    border-radius: 0;
}
.sale-template .filter-section .form-group .btn {
    margin: 0 .4rem;
}
.form-group .input-button {
    position: relative;
    top: 2px;
    display: inline-block;
    border: 1px solid #d7d7d7;
    border-radius: 5px;
    overflow: hidden;
    background: white;
}
.form-group .input-button input {
    border: 0;
    padding: .7rem;
    float:left;
}
.form-group .input-button button {
    border: 0;
    background: transparent;
    border: 0;
    border-left: 1px solid #d7d7d7;
    color: #555;
    border-radius: 0 5px 5px 0;
    float: right;
    padding: .7rem 1rem;
}
.form-group .range-prices {
    color: white;
    font-weight: bold;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}
.form-group .range-prices .price-from,
.form-group .range-prices .price-to,
.form-group .range-prices .divisor {
    display: inline-block;
}
.ui-widget.ui-widget-content,
.ui-widget-content {
    border: 0;
    border-radius: 0;
}
.ui-slider-horizontal {
    height: .5rem;
}
.ui-slider-horizontal .ui-slider-handle {
    top: -.6rem;
}
.ui-slider-range.ui-corner-all.ui-widget-header {
    background: linear-gradient(90deg, #ff6600, #fbb459);
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br,
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-tr,
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-bl,
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-tl  {
    border-radius: 0;
}
.ui-slider-handle.ui-corner-all.ui-state-default {
    border-radius: 200px;
    outline: none;
}
#price-regulator {
    padding: 0 1.2rem;
    min-width: 142px;
}
#price-regulator .range-prices {
    font-size: 1.2rem;
    font-weight: 100;
}
.price-to .plus {
    display: none;
}
/* //// BUTTONS \\\\ */
.flex .section:first-child form .btn {
    border-radius: 0;
}
.btn.btn-ghost {
    border: 2px solid white;
    color: white;
    background: transparent;
}
.btn.btn-joygle {
    border: 2px solid #ff6600;
    background: #ff6600;
    color: white;
}
.flex .section:first-child form .btn.btn-joygle {
    position: relative;
    top: 10px;
}
/* //// MAP \\\\ */
#map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
/* //// HELPER CLASSES \\\\ */
.vertical-container {
    display: table;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.vertical-container .vertical{
    display: table-cell;
    vertical-align: middle;
}
.uppercase {
    text-transform: uppercase;
}
.relative {
    position: relative;
}
/* //// RESPONSIVE \\\\ */
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    nav.navbar .navbar-collapse {
        background: transparent;
    }
    nav.navbar .navbar-collapse .navbar-nav li a {
        color: white;
    }
    .flex .section{
        flex: 1;
    }
    .flex .section:first-child form .btn.btn-joygle {
        top: 0;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}
